@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Office 365 Sandbox</h1>
    <p class="lead">Find the resource you need to get start Office 365 development</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Web Application</h2>
        <p>
            <ul>
                <li><label>Client Id:</label><span>guid</span></li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Native Application</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>