<h1>Office Addins</h1>
<p class="lead">The is a sample project which domestrates how to use the Office 365 API in the Office Addins.</p>
<div>
    <div class="form-group has-success">
        <label class="control-label">Content Language</label>
        <span class="form-control">{{contentLanguage}}</span>
    </div>
    <div class="form-group has-success">
        <label class="control-label">Display Language</label>
        <span class="form-control">{{displayLanguage}}</span>
    </div>
</div>

<p><strong>{{selection}}</strong></p>
<button class="btn btn-default" ng-click="getSelectedData()">Get data from selection</button>